body {
    background-image: url('../../assets/growhausZero.jpg'); 
    background-size: cover;
}

.welcomeForm { 
    text-align: center; 
    margin-top: 39%; 
    font-family: 'Arimo', sans-serif;
    background: rgb(0, 25, 87); /* This is for ie8 and below */
    background: rgba(246, 243, 243, 0.719); 
    padding: 1em 2em; 
    border-radius: 10px;
}

